<h1> Hello, we're Gumby TD. And we're here to organize your life. </h1>
<br><br>


<a href="/tasks/new">Add a new task</a>


<br><br>
<h2> Your Gumby List </h2>
  <table>
    <tr>
      <td>Description</td>
      <td>Completed?</td>
    </tr>

    <% @tasks.each do |task| %>
    <tr>
      <td>  <%= task.description %></td>
      <td>  <%= task.completed %></td>
      <td>  <%= link_to 'Edit',  edit_task_url(task) %></td>
      <td>  <%= link_to 'Complete task',  task_completed_url(task) %></td>
      <td>  <%= link_to 'Delete',  task_url(task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>

  </table>
